/**
 * Article popup
 *
 * @author ac
 */

 
/* Extends
   ========================================================================== */

.article-view-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(21, 3, 4, .4);
  z-index: 100;
  
  .article-view-body {
    width: 80%;
    height: 80%;
    background: #eeeeee;
    -moz-border-radius: 5px;
    border-radius: 5px;

    .article-view-contentdata-container {
      height: 98%;
      left: 1%;
      position: relative;
      top: 1%;
      width: 98%;
      overflow-y: auto;
    
      .art-popup-tpl {
        visibility: visible;
        width: auto;
        height: auto;
        margin: 40px 10px 10px 10px;
        
        .image-wrapper-inner {
          width: 100%;
          overflow: hidden;
          position: relative;
          margin-top: 50px;
        
          img {
            width: 100%;
            height: auto;
          }
        }
        
        .date-time {
          padding: 8px 10px;
          border: 4px solid $white;
          background-color: rgba(0, 0, 0, 0.6);
          color: $white;
          margin-top: 20px;
          font-size: 30px;
          display: block;
          position: absolute;
          
          .event-date,
          .event-time {
            font-family: Verdana, Arial, sans-serif;
            font-size: 30px;
            font-weight: bold;
            margin: 0px;
            display: inline-block;
          }
          
          .event-primary-address {
            font-family: Verdana, Arial, sans-serif;
            font-size: 20px;
            font-weight: bold;
            margin: 0px;
          }
        }
        
        .header {
          position: absolute;
          top: 70px;
          left: 30px;
          width: 100%;
        }
        
        h1.title {
          background: $turquoise-color;
          color: $white;
          font-size: 46px;
          display: inline-block;
          padding: 3px 7px;
          margin-top: 50px;
        }
        
        .bodyContent {
          margin-bottom: 45px;
          line-height: 35px;
          color: #333;
          font-size: 26px;
        }
        
        .category {
          background: $turquoise-color;
          color: $white;
          font-size: 26px;
          padding: 5px;
          display: inline-block;
          font-weight: bold;
        }
        
      }
    }
  }
  
  #closeBtnOpacPopup {
    color: $turquoise-color;
    line-height: 37px;
    text-aligh: center;
    width: 37px;
    height: 37px;
    font-size: 37px;
    top: 12px;
    right: 12px;
  }
}    
