/**
 * Buttons
 *
 * @author ac
 */


/* Variables
   ========================================================================== */
   
$small-bottom-spacing:                   30px;


 
/* Extends
   ========================================================================== */

.image-ct-wrapper {
  
  @extend %fullsize;
  
  .image {
    @extend %fullsize;
	position: relative;
    
	background-position: center center;
    background-size: cover;
    
    .image-inner-wrapper {
      @extend %fullsize;
      
      position: relative;
    }
    
    .item-data {
      @extend %grey-transparent-bg;
	  
	  bottom: 0;
      padding: $small-bottom-spacing;
      position: absolute;
    }
    
    .image-title {
      @extend %label;
      
      display: inline-block;
      font-size: 27px;
      line-height: 1.2;
      margin-bottom: $small-bottom-spacing;
      padding: 3px 5px;
      word-break: normal;
    }

    .teaser {
      display: block;
      font-size: 26px;
      font-weight: bold;
      line-height: 1.2;
      margin: 0;
      overflow: hidden;
      word-break: normal;
    }
    
  }

}

.col6,
.col4 {
  .image .teaser {
    font-size: 20px;
  }
}

@include large-x-large-portrait() {
  .col6 {
    .image {
      .teaser {
        font-size: 26px;
      }
      
      .image-title,
      .title,
      .teaser {
        margin-bottom: 60px;
      }
    }
  }
}
