.ding-item-viewer {
  margin: 10px 0;

  .ui-tabs-nav {
    background: darken($footer-background-color, 5%);
  }

  // Items container

  .browsebar-inner {
    height: auto;
  }

  // Items
  
  .browsebar-item {
    background: $white;
    line-height: 1.2;
    height: 260px;

    // Title

    h2 {
      font-weight: 700;
      font-size: 100%;
    }
    
    img {
      position: relative;
      float: left;
      overflow: hidden;
      width: 120px;
      max-height: 193px;
    }

    &.active {
      max-height: 410px;
      height: auto;

      // Title
      h2 {
        font-size: 80%;

        a {
          font-weight: 700;
        }
      }

      // Cover
      img {
        margin-right: 10px;
        width: 140px;
      }

      // Subject
      .subject {
        display: block;
        float: left;
        margin: 3px 3px 3px 0;
        white-space: nowrap;
      }

      .subjects {
        max-height: 55px;
        overflow: hidden;

        strong {
          display: block;
          float: left;
          line-height: 2em;
          margin-right: 5px;
        }
      }

      // Entity buttons
      .field-type-ding-entity-buttons a {
        margin-left: 5px;
      }

      // Author
      .field-type-ting-author {
        font-weight: bold;
      }

      // Abstract
      .field-type-ting-abstract {
        max-height: 117px;
        overflow: hidden;
      }

    }
  }

  // Bottom tabs

  .ui-tabs-nav {
    // Active tab

    .active {
      background-color: $gray-dark;

      a {
        background: none;
      }
    }
  }
  
  // Header
  .view-mode-ding-item-viewer-small {
    h2 {
      clear: both;
      height: 35px;
      max-height: 35px;
      overflow: hidden;
      position: relative;
    }
  
    .image-wrapper {
      background: darken($footer-background-color, 5%);
      height: 170px;
      margin-bottom: 10px;
      max-height: 170px;
      overflow: hidden;
      width: 100%;
    }

    .field-name-ting-author {
      height: 38px;
      overflow: hidden;
      font-size: 80%;
    }
  }
}
