.pane-ding-item-list-recommendations {
  margin: 10px 0;
}

.alma-item-list,
.ding-item-list-item {
  overflow: hidden;
  margin-bottom: 10px;
  font-size: $base-font-size;

  .item-cover {
    float: left;
  }

  .item-details {
    margin-left: 65px;
  }

  .item-title a {
    font-weight: 700;
  }

  .reserve-button {
    @extend %button-action;
	margin-top: 10px;
    font-size: 100%;
  }
  .item-loan {

    &,
    a {
      font-size: $font-size-reset;
      font-family: inherit;
      line-height: inherit;
    }
  }
}
