.ding-item-viewer {
  margin: 10px 0;

  // Items container

  .browsebar-inner {
    height: auto;
  }

  // Items
  .browsebar-item {
    line-height: 1.2;

    // Title

    h2 {
      font-weight: 700;
      font-size: 100%;
      line-height: 1.1;
    }

    img {
      position: relative;
      float: left;
      overflow: hidden;
      width: 120px;
    }

    &.active {
      max-height: 410px;
      height: auto;

      // Title

      h2 {
        font-size: 80%;

        a {
          font-weight: 700;
        }
      }

      // Cover

      img {
        margin-right: 10px;
        width: 140px;
      }

      // Subject

      .subject {
        display: block;
        float: left;
        margin: 3px 3px 3px 0;
        white-space: nowrap;
      }

      .subjects {
        max-height: 55px;
        overflow: hidden;

        strong {
          display: block;
          float: left;
          line-height: 2em;
          margin-right: 5px;
        }
      }
      // Entity buttons

      .field-type-ding-entity-buttons a {
        margin-left: 5px;
      }
    }
  }

  // Bottom tabs

  .ui-tabs-nav {
    // Active tab

    .active {
      background-color: $gray-dark;

      a {
        background: none;
      }
    }
  }
  
  // Header
  .view-mode-ding-item-viewer-small h2 {
    clear: both;
    max-height: 35px;
    overflow: hidden;
    position: relative;
  }
  
  .view-mode-ding-item-viewer-small h2:before {
    background-image: url('../images/grad-transp.png');
    background-repeat: repeat-x;
    bottom: 0;
    content: "";
    display: block;
    height: 11px;
    position: absolute;
    width: 120px;
  }
  
}
