// Extended search
// ========================================================================== //

.search {
  position: relative;

  // Collapse button

  .form-actions {

     > .form-submit {

      @include from-medium() {
        margin-top: 0;
      }
    }

    > a {
      @include min-height(60px);
      display: inline-block;
      margin: 23px 10px 0 0;
      line-height: 60px;

      // Media from-medium

      @include from-medium() {
        background-color: transparent;
        color: $gray-darker;
        text-decoration: underline;
      }

      // Media till-medium

      @include till-medium() {
        display: none;
      }
    }
  }

  .collapsible {
    @include zen-grid-container();
    margin-bottom: 0;
    background-color: $white;

    &.collapsed {
      padding: 0;
      height: 0;
      border: 0;
    }

    legend {
      display: none;
    }

    .description {
      display: none;
    }

    .fieldset-wrapper > .form-item {
      margin-bottom: 10px;

      // Media from-medium

      @include from-medium() {
        $gutter-width: .5em !global;
        @include span(1 of 2);

        &:nth-of-type(2n + 2) {
          @include omega;
        }
      }
    }

    // Inputs styles

    input {
      @include background-image(linear-gradient($gray-light, $gray-lighter));
      padding-right: 8px;
      padding-left: 8px;
      border: 1px solid $gray;
    }

    input,
    select {
      @include border-radius(0);
      @include min-height(40px);
      width: 100%;
    }

    // Labels

    label {
      color: $black;
      font-weight: 700;
    }
  }
}


// Page search

.page-search {
  .search {

    // Advanced search button

    .form-actions .fieldset-title {

      // Media from medium

      @include from-medium() {
        margin-top: 0;
      }
    }
  }
}
