/**
 * Opening hours
 *
 * @author magnify, zorp
 */



/* Toggle opening hours
   ========================================================================== */

.opening-hours-toggle {
  padding-left: $large-spacing;

  &.js-opening-hours-not-available {
    display: none;
  }

  &.js-collapsed {
    @extend .icon-plus-sign;
  }

  &.js-expanded {
    @extend .icon-minus-sign;
  }

  &:hover {
    text-decoration: none;
  }

  &:before {
    margin-right: $small-spacing;
    font-family: $base-icon-library-font;
  }

  /* Media queries */
  @include small-medium() {
    display: inline;
    width: auto;
  }
}


.block-opening-hours {
  min-height: 279px;

  .read-more {
    margin-left: 3px;
  }
}

.opening-hours-week {
  padding: $large-spacing;
  padding-top: $medium-spacing;
  background: $white;

  .header {
    @include font-bold();
    padding: 0;
    padding-bottom: $medium-spacing;

    background: $white;
    color: $gray-darker;
  }

  .days {
    padding: 0;

    .day {
      padding: 6px;
    }

    .times {
      margin-right: 0;
    }

    .odd {
      @extend %article-background--odd;
    }

    .even {
      @extend %article-background--even;
    }
  }

  .prev,
  .next {
    font-size: $font-size-reset;
    font-family: $base-icon-library-font;

    &:hover {
      text-decoration: none;
    }
  }

  .prev {
    float: left;
    margin-left: $small-spacing;
  }

  .next {
    float: right;
    margin-right: $small-spacing;
  }

  .notice-star {
    @extend .icon-info-sign;

    visibility: hidden;
    margin-right: 0;
    padding-left: $small-spacing;

    // Icon placement and font-face.
    &:before {
      visibility: visible;
      font-family: $base-icon-library-font;
    }
  }
}

// Main widget
// ==========================================================================

.pane-ding-library-opening-hours-ding-library-opened-today {
  ul {
    padding-left: 0;

    .library {
      padding: 3px;
      background-color: #f2f2f2;

      &:nth-of-type(2n+2) {
        background-color: #e8e8e8;
      }
    }
  }
}
