/**
 * User
 *
 * @author magnify
 */


/* /user/$uid/edit/*
   ========================================================================== */

.page-user-edit {

  .pane-profile2-form {
    line-height: 1.1;

    label,
    .form-item {
      margin-bottom: 5px;
    }

    fieldset,
    div[class^="field-type-"] {
      margin-bottom: 10px;
    }

    .form-submit {
      margin-top: 10px;
    }
  }

  .field-name-field-alma-reservation-pause {

    @include from-medium() {

      // Hide labels

      label {
        display: none;
      }

      .start-date-wrapper {
        @include span(1 of 2);

        &:after {
          position: absolute;
          top: 10px;
          right: -11%;
          content: '-';
          font-weight: 700;
        }
      }

      .end-date-wrapper {
        @include span(last 1 of 2);
      }

      .start-date-wrapper,
      .end-date-wrapper {
        position: relative;

        .form-type-textfield:after {
          position: absolute;
          top: 10px;
          left: 10px;
          color: #333;
          content: '\f073';
          font-weight: 700;
          font-family: 'FontAwesome';
          pointer-events:none;
        }

        input[type="text"] {
          padding-left: 30px;
        }
      }
    }
  }
}


/* /user/$uid/status/*
   ========================================================================== */

.pane-reservations,
.pane-loans,
.pane-debts,
.pane-bookmarks {
  overflow: hidden;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid $gray;

  .left-column {
    @include zen-grid-item(2, 1);
  }

  .right-column {
    @include zen-grid-item(10, 1, right);
  }

  .material-item,
  .total-amount {
    overflow: hidden;
    margin-bottom: 10px;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;

    &.odd {
      background-color: $gray-light;
    }
    &.even {
      background-color: $gray-lighter;
    }
  }

  .total-amount {
    margin-bottom: $large-spacing;
    background-color: $gray;
    font-size: $font-size-large;
  }

  .item-checkbox {
    float: left;
    width: 25%;

    .form-item {
      text-align: left;
    }
  }

  .ting-cover {
    float: left;
    max-width: 75%;

    &:before {
      top: 5%;
      left: 25%;
      font-size: 200%;
    }
  }

  .item-information-list {
    overflow: hidden;
    padding-left: 0;

    .item-information {
      clear: left;
      overflow: hidden;
    }
  }

  .item-information-label {
    @include zen-grid-item(7, 1);

    padding: 0;
    padding-right: 10px;
  }

  .item-information-data {
    @include zen-grid-item(5, 1, right);

    padding: 0;

    text-align: right;
  }

  .select-all {
    margin-top: 10px;
    margin-bottom: 0;
    padding: 10px;
    padding-left: 20px;
    background-color: $gray;

    .form-checkbox {
      margin-right: 5px;
    }

    label {
      vertical-align: middle;
    }
  }

  .form-item {
    margin-bottom: 0;
  }

  .messages {

    margin-bottom: 10px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 30px;

    &:before {
      left: 7px;
      font-size: 16px;
    }
  }

  .form-checkbox[disabled^="disabled"] {
    display: none;
  }

  /* BUTTONS */

  .renew-loan-button  {
    .renewable {
      @extend %button-action;
    }
  }

  .renew-loan-button  {
    .not-renewable {
      @extend %button-danger;
    }
  }

  .action-button {
    display: inline-block;
    margin-right: $large-spacing;
  }

  .reserve-button {
    @extend %button-action;
  }

  .delete-reservation,
  .delete-reservations {
    .form-submit {
      @extend %button-danger;
    }
  }

  .update-reservations,
  .renew-loan-button {
    .form-submit {
      @extend %button-action;
    }
  }
  /* END BUTTONS */
  
  .ding-format-short {
    .left-column {
      @include zen-grid-item(1, 1);
    }

    .right-column {
      @include zen-grid-item(11, 1, right);
    }

    .ting-cover,
    .item-information-list {
      display: none;
    }
  }
}

.pane-loans {
  .select-all {
    background-color: $green;
    color: $white;

    &.overdue {
      background-color: $red;
    }

    &.due {
      background-color: $yellow;
    }
  }
}


/* User debts specific
   ========================================================================== */

.pane-ding-dibs-dibs-terms-of-sale,
.pane-ding-dibs-dibs-cards-supported {
  margin-bottom: $large-spacing;
  padding-bottom: $large-spacing;
  border-bottom: 1px solid $gray-light;

  #dibs-cards-supported {
    .card-name {
      font-weight: $base-font-weight-bold;
    }
  }
}

#dibs-terms-of-sale {
  font-size: 100%;
}

#dibs-cards-supported .card-logo,
.form-item-cards-supported .card-logo {
  margin-bottom: 15px;
}

.pane-debts {
  .left-column {
    @include zen-grid-item(1, 1);
  }

  .right-column {
    @include zen-grid-item(11, 1, right);
  }

  .pay-button {
    float: left;
    margin-right: $large-spacing;
    margin-bottom: $large-spacing;

    .form-submit {
      @extend %button-action;
    }

  }
}

/* Breakpoints
   ========================================================================== */

@include small() {
  .pane-reservations,
  .pane-loans,
  .pane-bookmarks {
    h3 {
      font-size: 130%;
    }
    .left-column {
      @include zen-grid-item(1, 1);
    }

    .right-column {
      @include zen-grid-item(11, 1, right);
    }

    .item-checkbox {
      display: block;
      float: none;
      clear: both;
      margin-right: 10px;
      width: 100%;
    }

    .ting-cover {
      display: none;
      // Needed if display is turned back on.
      /*clear: both;
      float: none;
      max-width: 100%;
      margin-top: 15px;*/
    }

    .item-information-label {
      padding: 0;

      font-weight: bold;
    }

    .item-information-data {
      margin-bottom: 10px;
      padding: 0;
    }

    .action-buttons {
      .action-button {
        margin-top: 10px;

        &:nth-of-type(1) {
          margin-top: 0;
        }
      }
    }

  }
}

@include medium() {
  .pane-reservations,
  .pane-loans,
  .pane-bookmarks {
    .left-column {
      @include zen-grid-item(3, 1);
    }

    .right-column {
      @include zen-grid-item(9, 1, right);
    }

    .item-checkbox {
      width: 30%;
    }

    .ting-cover {
      max-width: 70%;
    }

    .item-information-label {
      @include zen-grid-item(6, 1);

      padding: 0;
      padding-right: 10px;
    }

    .item-information-data {
      @include zen-grid-item(6, 1, right);

      padding: 0;
    }
  }
}

@include large() {
  .pane-reservations,
  .pane-loans,
  .pane-bookmarks {
    .item-checkbox {
      width: 35%;
    }

    .ting-cover {
      max-width: 65%;
    }

    .item-information-label {
      @include zen-grid-item(6, 1);

      padding: 0;
      padding-right: 10px;
    }

    .item-information-data {
      @include zen-grid-item(6, 1, right);
    }
  }
}


/* User login in header
   ========================================================================== */

.header-wrapper {
  /* Add padding if the search is in the header */
  .user {

    @include small-medium() {
      padding-left: 10px;
    }
    padding-right: 10px;
  }
}

.user {
  @extend %search-user-header;

  @include small() {
    .form-item-name,
    .form-item-pass {
      @include zen-grid-item(12, 1);
      @include zen-clear();
    }

    .form-actions {
      margin-bottom: 0;
    }

    .form-submit {
      margin-top: $medium-spacing;
    }
  }

  @include small-medium() {
    text-align: left;

    .block-title {
      display: block;
      margin-top: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid transparentize($white, .75);
      color: $white;
    }

    .user-field-wrapper {
      position: relative;
    }
  }

  @include small-medium {
    width: auto;
  }
  overflow: hidden;

  .user-field-wrapper {
    position: relative;
  }

  .form-item-name {
    @include zen-grid-item(6, 1);
    margin-bottom: 0;

    .form-text {
      padding-left: 45px;
    }
  }

  .form-item-pass {
    @include zen-grid-item(6, 1, right);
    margin-bottom: 0;

    .form-text {
      padding-left: 42px;
    }
  }

  .block-title {
    display: none;
  }
}


.user-name {

  @include small-medium() {
    .user-name-title {
      margin-bottom: 0;
    }
  }
  color: $white;

  .user-name-title {
    overflow: hidden;
    max-height: 45px;
    font-size: $font-size-larger;
  }
}

.user-name,
.user-menu-loans,
.user-menu {

  @include small-medium() {
    padding-bottom: 0;
    border-bottom: 0;
    text-align: left;
  }
  display: none;
  padding-right: $medium-spacing;
  padding-bottom: $medium-spacing;
  border-bottom: 1px solid transparentize($white, .75);
  text-align: right;
}

.user-menu-loans,
.user-menu {

  @include small-medium() {
    padding-top: 0;
  }
  padding-top: $medium-spacing;
}

.user-menu {
  @include font-bold();
}


/* User WAYF login
   ========================================================================== */
.ding-wayf--login-block {
  position: absolute;
  right: -15px;
  bottom: 25px;
}

.ding-wayf--login-info {
  padding-right: 20px;

  img {
    height: 20px;
  }
}


/* User profile
   ========================================================================== */

.user-loan-status-wrapper {
  padding-top: $large-spacing;
}

.user-status-loan,
.user-status-reservation,
.user-status-debt,
.user-status-ready-pickup {
  @include border-radius(8px);
  @include font-bold();
  @extend .icon-chevron-right;

  display: block;
  margin-bottom: 10px;
  padding: 10px 20px;

  &:hover {
    text-decoration: none;
  }

  &:before {
    float: right;
    font-family: $base-icon-library-font;
  }

}

.user-status-loan,
.user-status-reservation {
  background-color: $gray-light;
  color: $link-color;

  &:focus,
  &:hover {
    background-color: darken($gray-light, 5%);
  }
}

.user-status-debt,
.user-status-ready-pickup {
  &:link,
  &:visited,
  &:focus,
  &:active {
    color: $white;
  }
}

.user-status-debt {
  background-color: $red;

  &:focus,
  &:hover {
    background-color: darken($red, 5%);
  }
}

.user-status-ready-pickup {
  background-color: $green;

  &:focus,
  &:hover {
    background-color: darken($green, 5%);
  }
}

.pane-profile2 {
  border-top: 1px solid $gray-light;

  .field {
    border-right: 1px solid $gray-light;
    border-bottom: 1px solid $gray-light;
    border-left: 1px solid $gray-light;
  }

  .field-label,
  .field-item {
    @include box-sizing(border-box);

    display: inline-block;
    padding-top: $medium-spacing;
    padding-right: $medium-spacing;
    padding-bottom: $medium-spacing;
    padding-left: $medium-spacing;
  }

  .field-label {
    min-width: 200px;
  }

  .notice-sms {
    padding-left: .5em;
    font-style: italic;
  }

  /* Media queries */
  @include small() {
    .field-label {
      margin-bottom: -8px;
      padding-bottom: 0;
    }
  }
}

/* User loans
   ========================================================================== */

.pane-loans,
.pane-reservations,
.pane-bookmarks {
  ul {
    margin: 0;
    padding: 0;
  }

  .form-checkbox {
    margin-top: 0;
    margin-right: 1px;
    margin-bottom: 0;
    margin-left: 0;
  }

  .order-id {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 47px;
  }
}

.bookmark-button {
  @extend %button-default;
}

.pane-bookmarks .action-button {
  margin-top: 10px;
  margin-right: 0;
}

#ding-bookmark-remove-form {
  .form-submit {
    @extend %button-danger;
  }
}

// Page user scheduler
// ========================================================

.page-user-scheduler {
  #tabs {
    margin-bottom: 0;
  }

  .pane-page-content {

    // Media till-x-large()

    @include till-x-large() {
      padding-right: 10px;
      padding-left: 10px;
    }
  }
}

// Page user roles
// ========================================================

.page-user-roles {
  #tabs {
    margin-bottom: 0;
  }

  #role-delegation-roles-form {
    clear: both;
    overflow: hidden;
    padding: 10px;
    background-color: $white;

    // Media x-large

    @include till-x-large() {
      margin-right: 10px;
      margin-left: 10px;
    }
  }
}
