/**
 * Forms
 *
 * @author magnify, zorp
 */



input,
textarea,
select {
  font-size: $font-size-reset;
  letter-spacing: 1px;
}

select {
  @include transition(all 0.15s linear);
  @include border-radius(8px);
  @include box-sizing(border-box);
  @include background-image(linear-gradient($gray-light, $gray-lighter));

  /* Required for setting height in webkit browsers on mac */
  -webkit-appearance: menulist-button;

  border: 1px solid $gray;
  min-width: 99%;
  padding: 8px;
}


input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
  @include transition(all 0.15s linear);
  @include border-radius(8px);
  @include box-shadow(inset 0 1px 2px rgba(0,0,0,0.1));
  @include box-sizing(border-box);
  @include min-height($medium-spacing);

  background-color: $white;
  border: 1px solid $gray-light;
  display: block;
  font-size: $font-size-reset;
  margin-bottom: $medium-spacing;
  padding: $medium-spacing;
  min-width: 99%;

  &:focus {
    background-color: #e5cfcf;
    border: 2px solid #9f0001;
    color: darken($black, 10%);
  }

  &[disabled] {
    @include box-shadow(0 0 0);

    background-color: lighten($gray-light, 5%);
    border: 1px solid $gray-light;
  }
}
