/**
 * Modal popup styling (from jquery ui library)
 *
 * @author magnify
 */



// Variables
// ==========================================================================

$modal-overlay-color:             $black;
$modal-overlay-transparency:      .8;
$modal-text-color:                $black;
$modal-background-color:          $black;
$modal-background-transparency:   .25;
$modal-min-width:                 450px;
$modal-border-radius:             12px;


.ui-widget-overlay {
  @include opacity(1);
  background: transparentize($modal-background-color, $modal-background-transparency);
}

.ui-dialog {
  @include box-shadow(rgba($black, .35) 0 0 10px);
  @include border-radius($button-border-radius);
  min-width: $modal-min-width;
  background-color: $content-background-color;

  /* Media queries */
  @include small-medium() {
    min-width: 0;
    max-width: 100% !important;
  }
}


.ui-dialog-title {
  @extend .page-title;
  padding-bottom: 20px;
  border-bottom: 1px solid $black;
  color: $modal-text-color;
}


.ui-widget-content {
  padding: 0;
  color: $modal-text-color;
}

.ui-widget-header {
  border: 0;
  background: none;
}

.ui-dialog {
  @include box-sizing(border-box);
  padding: $large-spacing;

  .ui-dialog-title {
    width: 100%;
  }

  // Close button

  .ui-dialog-titlebar-close {
    &,
    &:hover {
      width: 21px;
      border: 0;
      background-color: transparent;
    }
  }

  .ui-dialog-titlebar {
    .ui-dialog-titlebar-close {
      top: $medium-spacing;
      right: $small-spacing;
      float: right;
      padding: 0;
      width: auto;

      .ui-icon {
        @include font-bold();
        @extend .icon-remove;
        height: 24px;
        background: none;
        text-indent: 0;
        text-transform: capitalize;

        &:hover {
          border: 0;
          background: none;
          color: lighten($modal-text-color, 10%);
        }
      }

      .ui-icon:before {
        margin-right: 2px;
        margin-bottom: -1px;
        font-family: $base-icon-library-font;
      }

      &:link,
      &:visited,
      &:active {
        color: $modal-text-color;
        text-decoration: none;
      }

      &:hover {
        color: $modal-text-color;
        text-decoration: none;
      }
    }

    .form-item {
      margin-bottom: $medium-spacing;

      .description {
        margin-top: -$medium-spacing;
        color: transparentize($white, .1);
      }
    }

    .openid-links {
      display: none;
    }
  }

  .form-text {
    width: 100%;
  }

  // Search results entity buttons

  .field-name-ding-entity-buttons {
    float: left;
  }

  .ting-object + h2 {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid $black;
  }

  .ting-cover {
    visibility: hidden;
  }

  .field-item .ting-object:first-of-type .ting-cover {
    visibility: visible;
  }

  .ting-object.view-mode-objects-in-popup {
    padding-bottom: 10px;
  }
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  border: 0;
  background: none;
}

